*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

  .img-register{
   background: url(../src/img/perfume-formulario.jpg) no-repeat center top;
   background-size: cover;
  }

   @media(min-width:768px){   
    .border-register{
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }

    .border-register2{
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
   }

   .h-title{
    padding-right: 30px;
   }
   
  @media(max-width:768px){   
    .h-title{
      display: none;

    }

    .img-register{
      display:none
    }
  }
